<div class="mt-4 container">

<div class="mission-container mt-4">

  <div class="header">
    <h1>🌍 Our Mission | <span>Red Cross Fatehabad</span> ❤️</h1>
    <p>Serving Humanity, Saving Lives with Compassion & Action</p>
  </div>

  <div class="mission-cards">
    <div class="card" *ngFor="let mission of missions">
      <div class="icon">{{ mission.icon }}</div>
      <h3 >{{ mission.title }}</h3>
      <p >{{ mission.description }}</p>
    </div>
  </div>
<!-- 
  <div class="cta-section">
    <h2>🚀 Join Us & Make an Impact!</h2>
    <button class="btn-primary" (click)="joinNow()">Join Now</button>
  </div> -->
</div>
</div>