<div class="container">
  <h2 class="mission-title text-center">Our Services</h2>

  <div class="slider-container" (mouseenter)="stopAutoSlide()" (mouseleave)="startAutoSlide()">
    <!-- Slides Wrapper -->
    <div class="slides-wrapper">
      <div class="row">
        <div 
          class="col-lg-3 col-md-4 col-12 slide" 
          *ngFor="let slide of visibleSlides">
          <a [routerLink]="['/service-details', slide.name]"> 
            <img [src]="slide.img" class="card -top" [alt]="slide.name">
          </a>
          <div class="card-body mt-3">
            <h5 class="text-danger ">{{ slide.name }}</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- Navigation Buttons -->
    <button class="prev" (click)="prevSlide()">&#10094;</button>
    <button class="next" (click)="nextSlide()">&#10095;</button>
  </div>
</div>
