.principles-container {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #e60000;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .line {
    flex-grow: 1;
    height: 2px;
    background-color: #e60000;
    margin: 0 10px;
  }
  
  .principles-list {
    list-style-type: none;
    padding: 0;
  
    li {
      margin-bottom: 15px;
      strong {
        font-size: 18px;
        color: #000;
      }
      p {
        font-size: 14px;
        color: #333;
        margin: 5px 0;
      }
    }
  }

  @media (max-width: 768px) {
    .principles-container {
      padding: 15px;
    }
  
    .title {
      font-size: 20px;
      flex-direction: column; /* Stack lines above and below */
    }
  
    .line {
      width: 50px;
      height: 2px;
      margin: 5px 0; /* Reduce space on mobile */
    }
  
    .principles-list {
      padding: 0;
    }
  
    .principles-list li {
      padding: 10px;
      border-left: 4px solid #e60000; /* Add a left border for better visibility */
      background: white;
      border-radius: 5px;
    }
  
    .principles-list li strong {
      font-size: 16px;
    }
  
    .principles-list li p {
      font-size: 14px;
      text-align: justify;
    }
  }
  
  