
<div class="activities-section">
    <h2>Programmes & Activities</h2>
    <div class="activities-container">
      <div *ngFor="let activity of activities" class="activity-card">
        <a [routerLink]="['/activity-details', activity.title]">
        <img [src]="activity.image" [alt]="activity.title" />
        <div class="activity-info">
          <h3 class="titles">{{ activity.title }}</h3>
          <p class="titles">{{ activity.date }}</p>
        </div>
        </a>
      </div>
    </div>
  </div>
  